.avatar {
  display: flex;
  align-items: center;
  justify-content: center;
}

.avatarText {
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  line-height: normal;
  position: relative;
  flex-shrink: 0;
  color: #e77479;
  font-size: 14px;
  letter-spacing: 0.28px;
}
